h1 {
    color: orangered;
}

* {
    border: solid;
}

.header{
    background-color: aqua;
    display: flex;
    justify-content: space-between;
}

.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
